*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    /* border:1px solid red; */
}

body {
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
    font-size: larger;
    font-family:'Bebas Neue';
}

.wrapper {
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    font-weight: 800;
    box-shadow: black;
}

.logo img {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 80px;
    height: 90px;
    float: left;
}

.menu {
    float: right;
    margin: 0px;
    
}

.menu ul {
    top: 50px;
    margin: 0px;
    padding: 0px;
    display: block;
    float: right;
    font-weight: 800;
    
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    background: #000000D9;
    z-index: 1;
    
}

nav ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
}

nav ul li{
    float: left;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    
}

nav ul li a{
    float: right;
    color:white;
    font-weight: 550;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    line-height: 100%;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: -90px;
    letter-spacing: 0.1em;
    
}

nav ul li a{
    background: none;
    min-width: 200px;
    cursor: pointer;
    transition: color 0.4s linear;
    
}

nav ul li a:hover{
    color:red;
}

nav ul li a::before{
    content:"";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    transition: 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

 nav ul li button{
    float:left;
    margin-top: -14px;
    margin-left: 0px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:  center;
    text-align: center;
    min-height: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.1em;
    font-family: 'Bebas Neue';
}
.btn{
    background: none;
    border: 1px solid #c43c1d;
    text-transform: normal;
    padding: 10px 5px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    letter-spacing: 0.1em;
    background-color: #c72222;
    font-family:'Bebas Neue';
    font-size: 20px;
}

.btn:hover{
    color: rgb(255, 255, 255);
}

.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 60px;
    height: 28px;
    opacity: 0;
    right: 4px;
    top: 20px;
    cursor: pointer;
    z-index:2;
}

.menu-toggle span{
    /* position: absolute; */
    display: block;
    width: 28px;
    height: 3px;
    background-color:white ;
    border-radius: 3px;
    align-items: center;
    margin-top: 5px;
    top: 10px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-2px, 2px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity:0;
    transform: scale(0);
}

.menu button .btn1{
    background: #000000D9;
    position: absolute;
}

.menu .btn1{
    display: none;
    position: absolute;
}


.menu  .btn1:hover{
    color: white;
}

.menu .bagian1 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.menu .bagian1 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian1 .btn-1:hover::before{
    transform: scaleY(1);
}

.bagian2 button {
    z-index: 1;
    top: 15px;
    left: 737px;
    background: none;
    font-family:'bebas neue';
    text-transform: normal;
    padding:10px 20px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    position: absolute;
    letter-spacing: 20.5%;
    height: 35px;
    font-weight: 500;
    color: black;
    border: none;
}

.bagian2  .btn1:hover{
    color: white;
}

.bagian .bagian2 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bagian .bagian2 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian2 .btn-1:hover::before{
    transform: scaleY(1);
}

.bagian3 button {
    z-index: 1;
    top: 15px;
    left: 928px;
    background: none;
    font-family:'bebas neue';
    text-transform: normal;
    padding:10px 20px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    position: absolute;
    letter-spacing: 20.5%;
    height: 35px;
    font-weight: 500;
    color: black;
    border: none;
}

.bagian3  .btn1:hover{
    color: white;
}

.bagian .bagian3 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bagian .bagian3 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian3 .btn-1:hover::before{
    transform: scaleY(1);
}

.bagian4 button {
    z-index: 1;
    top: 15px;
    left: 1100px;
    background: none;
    font-family:'bebas neue';
    text-transform: normal;
    padding:10px 20px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    position: absolute;
    letter-spacing: 20.5%;
    height: 35px;
    font-weight: 500;
    color: black;
    border: none;
}

.bagian4  .btn1:hover{
    color: white;
}

.bagian .bagian4 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bagian .bagian4 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian4 .btn-1:hover::before{
    transform: scaleY(1);
}

.bagian5 button {
    z-index: 1;
    top: 15px;
    left: 1272px;
    background: none;
    font-family:'bebas neue';
    text-transform: normal;
    padding:10px 20px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    position: absolute;
    letter-spacing: 20.5%;
    height: 35px;
    font-weight: 500;
    color: black;
    border: none;
}

.bagian5  .btn1:hover{
    color: white;
}

.bagian .bagian5 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bagian .bagian5 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian5 .btn-1:hover::before{
    transform: scaleY(1);
}

.container{
    font-family:'Bebas Neue';
}
.container img{
    width: 100%;
    height: 525px;
    position: absolute;
    object-fit: cover;
}

.container .deskripsi img{
    position: relative;
    height: 30%;
    width: 6%;
    left: 47%;
    top: 150px;
    border-radius: 0px;
}

.container .deskripsi h1{
    position: absolute;
    height: 33px;
    width: 20%;
    left: 40%;
    top: 30%;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
}

.container .deskripsi h2{
    position: absolute;
    height: 75px;
    width: 30%;
    left: 35%;
    top: 340px;
    font-family: 'Quicksand';
    font-size:1vw;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;  
    color: white;
}

.container2 img{
    position: absolute;
    height: 12600px;
    width: 100%;
    left: 0;
    top: 525px;
    border-radius: 0px;
    object-fit: cover;
}

.legends1 img{
    position: absolute;
    width: 100%;
    height: 548px;
    top: 525px;

}

.container2 .newcastle img{
    position: absolute;
    height: 700px;
    width: 550px;
    left: 340px;
    top: 1200px;
    border-radius: 0px;
}

.newcastle img:hover{
    transform: scale(1.1);
}


.newcastle h1{
    position: absolute;
    height: 31px;
    width: 30%;
    left: 950px;
    top: 1250px;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.newcastle h2{
    height: 30px;
    left: 950px;
    top: 1300px;
    position: absolute;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.14em;
    text-align: center;
}

.newcastle h3{
    position: absolute;
    height: 24px;
    width: 20%;
    left: 950px;
    top: 1350px;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.newcastle h4{
    height: 372px;
    width: 35%;
    left: 950px;
    top: 1400px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.newcastle h5{
    height: 30px;
    width: 35%;
    left: 950px;
    top: 1800px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.newcastle iframe{
    position: absolute;
    top: 2100px;
    width: 800px;
    height: 500px;
    left: 30%;
}

.legends2{
    position: relative;
    top: 2400px;
}

.legends2 img{
    width: 100%;
    height: 548px;
    top: 500px;
}

.pathfinder img{
    position: absolute;
    height: 700px;
    width: 550px;
    left: 340px;
    top: 1200px;
    border-radius: 0px;
    object-fit: cover;
}

.pathfinder img:hover{
    transform: scale(1.1);
}


.pathfinder h1{
    position: absolute;
    height: 31px;
    width: 30%;
    left: 970px;
    top: 1250px;
    font-family: 'Quicksand';
    font-size:1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.pathfinder h2{
    height: 30px;
    
    left: 970px;
    top: 1300px;
    position: absolute;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.14em;
    text-align: center;
}

.pathfinder h3{
    position: absolute;
    height: 24px;
    width: 20%;
    left: 970px;
    top: 1350px;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.pathfinder h4{
    height: 372px;
    width: 30%;
    left: 968px;
    top: 1400px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.pathfinder h5{
    height: 30px;
    width: 40%;
    left: 968px;
    top: 1700px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.pathfinder iframe{
    position: absolute;
    top: 2100px;
    width: 800px;
    height: 500px;
    left: 30%;
}



.legends3{
    position: relative;
    top: 4800px;
}

.legends3 img{
    width: 100%;
    height: 548px;
    top: 500px;
}

.valkyrie img{
    position: absolute;
    height: 700px;
    width: 550px;
    left: 340px;
    top: 1200px;
    border-radius: 0px;
    object-fit: cover;
}

.valkyrie img:hover{
    transform: scale(1.1);
}


.valkyrie h1{
    position: absolute;
    height: 31px;
    left: 970px;
    top: 1250px;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.valkyrie h2{
    height: 30px;
    left: 970px;
    top: 1300px;
    position: absolute;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.14em;
    text-align: center;
}

.valkyrie h3{
    position: absolute;
    height: 24px;
    left: 970px;
    top: 1350px;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.valkyrie h4{
    height: 372px;
    width: 40%;
    left: 968px;
    top: 1400px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.valkyrie h5{
    height: 30px;
    left: 968px;
    top: 1800px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.valkyrie iframe{
    position: absolute;
    top: 2100px;
    width: 800px;
    height: 500px;
    left: 30%;
}



.legends4{
    position: relative;
    top: 7200px;
}

.legends4 img{
    width: 100%;
    height: 548px;
    top: 500px;
}

.octane img{
    position: absolute;
    height: 700px;
    width: 550px;
    left: 340px;
    top: 1200px;
    border-radius: 0px;
    object-fit: cover;
}

.octane img:hover{
    transform: scale(1.1);
}


.octane h1{
    position: absolute;
    height: 31px;
    left: 970px;
    top: 1250px;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.octane h2{
    height: 30px;
    left: 970px;
    top: 1300px;
    position: absolute;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.14em;
    text-align: center;
}

.octane h3{
    position: absolute;
    height: 24px;
    left: 970px;
    top: 1350px;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.octane h4{
    height: 372px;
    width: 40%;
    left: 968px;
    top: 1400px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.octane h5{
    height: 30px;
    left: 968px;
    top: 1700px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.octane iframe{
    position: absolute;
    top: 2100px;
    width: 800px;
    height: 500px;
    left: 30%;
}


.legends5{
    position: relative;
    top: 9600px;
}

.legends5 img{
    width: 100%;
    height: 548px;
    top: 500px;
}

.bangalore img{
    position: absolute;
    height: 700px;
    width: 550px;
    left: 340px;
    top: 1200px;
    border-radius: 0px;
    object-fit: cover;
}

.bangalore img:hover{
    transform: scale(1.1);
}


.bangalore h1{
    position: absolute;
    height: 31px;
    left: 970px;
    top: 1250px;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.bangalore h2{
    height: 30px;
    left: 970px;
    top: 1300px;
    position: absolute;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.14em;
    text-align: center;
}

.bangalore h3{
    position: absolute;
    height: 24px;
    left: 970px;
    top: 1350px;
    font-family: 'Quicksand';
    font-size:1vw;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.bangalore h4{
    height: 372px;
    width: 40%;
    left: 968px;
    top: 1400px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.bangalore h5{
    height: 30px;
    left: 968px;
    top: 1700px;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 1vw;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.bangalore iframe{
    position: absolute;
    top: 2100px;
    width: 800px;
    height: 500px;
    left: 30%;
}

.bagian {
    position: absolute;
    height: 35px;
    top: 105px;
    left: 0px;
    width: 100%;
    background: #FF3232D9;
}

.bagian1 button {
    z-index: 1;
    top: 15px;
    left: 546px;
    background: none;
    font-family:'bebas neue';
    text-transform: normal;
    padding:10px 20px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    position: absolute;
    letter-spacing: 20.5%;
    height: 35px;
    font-weight: 500;
    color: black;
    border: none;
}

.bagian1  .btn1:hover{
    color: white;
}

.bagian .bagian1 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bagian .bagian1 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian1 .btn-1:hover::before{
    transform: scaleY(1);
}

.bagian2 button {
    z-index: 1;
    top: 15px;
    left: 737px;
    background: none;
    font-family:'bebas neue';
    text-transform: normal;
    padding:10px 20px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    position: absolute;
    letter-spacing: 20.5%;
    height: 35px;
    font-weight: 500;
    color: black;
    border: none;
}

.bagian2  .btn1:hover{
    color: white;
}

.bagian .bagian2 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bagian .bagian2 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian2 .btn-1:hover::before{
    transform: scaleY(1);
}

.bagian3 button {
    z-index: 1;
    top: 15px;
    left: 928px;
    background: none;
    font-family:'bebas neue';
    text-transform: normal;
    padding:10px 20px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    position: absolute;
    letter-spacing: 20.5%;
    height: 35px;
    font-weight: 500;
    color: black;
    border: none;
}

.bagian3  .btn1:hover{
    color: white;
}

.bagian .bagian3 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bagian .bagian3 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian3 .btn-1:hover::before{
    transform: scaleY(1);
}

.bagian4 button {
    z-index: 1;
    top: 15px;
    left: 1100px;
    background: none;
    font-family:'bebas neue';
    text-transform: normal;
    padding:10px 20px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    position: absolute;
    letter-spacing: 20.5%;
    height: 35px;
    font-weight: 500;
    color: black;
    border: none;
}

.bagian4  .btn1:hover{
    color: white;
}

.bagian .bagian4 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bagian .bagian4 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian4 .btn-1:hover::before{
    transform: scaleY(1);
}

.bagian5 button {
    z-index: 1;
    top: 15px;
    left: 1272px;
    background: none;
    font-family:'bebas neue';
    text-transform: normal;
    padding:10px 20px;
    min-width:200px;
    cursor:pointer; 
    transition: color 0.4s linear;
    position: absolute;
    letter-spacing: 20.5%;
    height: 35px;
    font-weight: 500;
    color: black;
    border: none;
}

.bagian5  .btn1:hover{
    color: white;
}

.bagian .bagian5 .btn1::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 35px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.bagian .bagian5 .btn-1::before{
    transform: scaleY(0);
}

.bagian .bagian5 .btn-1:hover::before{
    transform: scaleY(1);
}

.footer{
    position: absolute;
    top: 12500px;
    height: 400px;
    width: 100%;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(foto/bgMainMaps.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.cta p{
    color: #fff;
    font-size: 1rem;
    font-family: 'quicksand';
}
.cta .footerbtn{
  display: inline-block;
  text-decoration: none;
  color: #f44336;
  border: 1px solid #f44336;
  padding: 15px 40px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}
.cta .footerbtn:hover{
  border: 1px solid #f44336;
  color: white;
  background: #f44336;
  transition: 0.5s;
}
.icon .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 25px;
    transition: 0.3s;
}
.icon .fa:hover{
    color: rgb(226, 145, 145);
}
.fa-heart{
    color: #f44336;
}